/* ---------------- Register  */

.login {
	background-image: url("https://cdn.wallpapersafari.com/23/30/IpcZNP.jpg");
	height: 100vh;
	background-size: cover;
	display: grid;
	place-items: center;
}

.welcome {
	font-size: 1.8rem;
	font-weight: 700;
}
.error_msg {
	margin-top: 0.2rem;
	font-size: 1rem;
	color: rgb(255, 59, 59);
}
.register_form_container {
	padding: 2rem;
	width: 35vw;
	background-color: rgb(55, 59, 63);
	border-radius: 10px;
}
.register_btn {
	margin: 0.5rem auto;
	padding: 0.4rem 0;
	border: none;
	border-radius: 5px;
	background-color: var(--bule-color);
	color: white;
	width: 100%;
	font-size: 1.4rem;
}
.register_btn:hover {
	cursor: pointer;
	background-color: var(--bule-color);
}

.inputField {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
}
.inputBox {
	background-color: aliceblue;
	margin-top: 0.4rem;
	padding: 0.3rem 0.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
}
.inputBox:hover {
	background-color: rgb(199, 255, 255);
}

.inputBox:focus {
	background-color: rgb(199, 255, 255);
	border: 2px solid rgb(0, 162, 255);
}

.forgot_pswd {
	color: var(--bule-color);
	margin-bottom: 1rem;
	font-size: 1rem;
}
.forgot_pswd:hover {
	cursor: pointer;
	text-decoration: underline;
}
