.main_section {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.Loader {
	text-align: center;
}
.Loader img {
	height: 200px;
}

.text_channel_section {
	border-bottom: 1px solid black;
	height: 6vh;
}

.channel_title {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}

.msg_user_div {
	height: 94vh;
	display: flex;
	flex-direction: row;
}

.settings {
	margin-left: auto;
}
.settings p {
	font-size: 1.5rem;
}
.settings p:hover {
	cursor: pointer;
}

/* text_channel_section */
.chat__wrapper {
	height: 83vh;
	overflow: scroll;
}
/* .chat__wrapper {
} */
.chat__wrapper::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.chat__wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.text_msg {
	width: 80%;
}

.message {
	position: relative;
	margin: 0 0.1rem;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
}
.message_div {
	display: flex;
	flex-direction: row;
}
.message:hover {
	background-color: rgb(63, 67, 71);
}
.reply_div {
	display: flex;
	flex-direction: row;
	padding: 0 1rem 0 2rem;
	border-radius: 4px;
	width: max-content;
	background-color: rgb(42, 42, 46);
	color: rgb(207, 210, 214);
}
.reply_div .username {
	padding: 0 0.5rem;
	color: white;
}
.reply_div .rep_message {
	color: grey;
}
.reply_div::before {
	content: "⎩";
	transform: rotate(90deg);
	color: grey;
}

.message img {
	height: 35px;
	width: 35px;
	margin: 0.2em;
	border-radius: 25px;
}

.message_controller {
	border: none;
	border-radius: 8px;
	position: absolute;
	top: -0.5rem;
	right: 1rem;
	display: none;
	background-color: rgb(85, 91, 97);
	z-index: 1;
}

.message_controller .icon {
	border-radius: 8px;
	padding: 0.4rem;
	color: white;
}
.message_controller .icon:hover {
	background-color: rgb(69, 73, 78);
}
.message:hover .message_controller {
	display: block;
}

.msg {
	display: flex;
	flex-direction: column;
	margin: auto 0.7rem;
}

.message_header {
	display: flex;
	flex-direction: row;
}
.time {
	color: grey;
	margin: auto 1rem;
	font-size: 0.75rem;
}

.msg .username {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.2rem;
}

/* *********** chat form  ************* */

.text_msg {
	border: none;
	margin-top: auto;
}

.inputBox {
	outline: none;
}
.send_icon {
	color: white;
	font-size: 1.6rem;
	transition: 0.5s;
}
.send_icon:hover {
	color: green;
}
.parent_message {
	border-radius: 8px 8px 0 0;
	margin: 0 1rem;
	padding: 0 1rem;
	background-color: rgb(32, 34, 37);
}
.reply_message::before {
	content: "Replying to ";
	color: grey;
}
.flex_message {
	display: flex;
	flex-direction: row;
}
.flex_message > .close_btn {
	margin-left: auto;
}
