.chat__form form {
	position: relative;
	height: 7vh;
	margin: 0rem 1rem;
}

.container {
	background-color: rgb(39, 43, 46);
	border-radius: 0 0 8px 8px;
}

.input_container {
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
}
/* .input_container > button,
input,
.right_btn > button {
	outline: none;
	background-color: transparent;
	border: none;
} */
button,
input {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
/* .left_btn {
} */
.left_btn {
	width: 5%;
}
.icon {
	color: white;
	font-size: 1.2rem;
}
.add_attachment_btn {
	width: 5%;
	margin: auto 0;
}
.left_btn {
	border-radius: 25px;
	margin: 0.3rem;
	padding: 0.2rem;
	font-size: 1.1rem;
}
button:hover .add_icon {
	color: rgb(148, 137, 137);
}

.chatbar_input {
	width: 80%;
	margin: auto 0;
}

.inputBox {
	width: 100%;
	padding: 0.2rem 0.5rem;
	border: none;
	font-size: 1.2rem;
	outline: none;
	color: aliceblue;
	/* overflow: scroll; */
}

.right_btn {
	margin-left: auto;
	display: flex;
	flex-direction: row;
}
.right_btn > button > .icon {
	color: black;
	border-radius: 25px;
	margin: 0.3rem;
	padding: 0.2rem;
	font-size: 1.3rem;
}

.add_icon {
	font-size: 1.4rem;
}
/* .chat__form > form button {
	color: white;
}*/

/*
.chat__form input {
	height: 2.5rem;
	font-size: 1rem;
	min-width: 90%;
	padding: 0 1rem;
	background-color: rgb(197, 197, 197);
	border-radius: 15px;
	border: none;
}
.chat__form button {
	width: 10%;
	height: 100%;
	font-size: 16px;
	background-color: transparent;
	border: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.chat__form button:hover {
	font-weight: bold;
} */
.emoji_button {
	position: relative;
	margin: auto 0;
}
.picker {
	margin-bottom: 4.5rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.pickerstyle {
	background-color: aqua;
}
.right_btn button[type="submit"] {
	margin: auto;
	font-size: 1.2rem;
}

.submit_button,
.pagescroll_button {
	margin: auto 0.4rem;
}
