/* server section */

.servers_section {
	display: flex;
	flex-direction: column;
	width: 5rem;
	padding-top: 0.5rem;
	text-align: center;
	overflow: scroll;
	/* background-color: #202225; */
	background-color: var(--dark-theme-server);
}

.lower {
	margin-top: auto;
}

.servers_section img {
	height: 50px;
	width: 50px;
	margin: 0.2em;
	border-radius: 25px;
	transition: 0.3s;
}
.servers_section img:hover {
	border-radius: 14px;
	background-color: aliceblue;
	cursor: pointer;
}
.servers_section::-webkit-scrollbar {
	display: none;
}

.servers_section {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.react_icon {
	/* color: green; */
	background-color: rgb(75, 80, 85);
	height: 34px;
	width: 34px;
	margin: 0.2em;
	padding: 0.6rem;
	border-radius: 25px;
	transition: 0.3s;
}
.react_icon:hover {
	border-radius: 14px;
	background-color: aliceblue;
	cursor: pointer;
}

.tooltip {
	font-size: 1.1rem;
}
