.page__container {
	display: grid;
	place-items: center;
	height: 100vh;
}
.header {
	margin: 0.5rem 0;
}
.form__container {
	background-color: rgb(38, 42, 46);
	padding: 1rem;
	border-radius: 8px;
	width: 20vw;
}

.welcome {
	font-size: 1.8rem;
	font-weight: 700;
}
.error_msg {
	margin-top: 0.2rem;
	font-size: 0.85rem;
	color: rgb(255, 59, 59);
}
.inputField {
	margin-top: 0.4rem;
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
}

.inputBox_file {
	display: block;
	margin: 0.7rem 0;
}
.inputBox {
	background-color: aliceblue;
	padding: 0.3rem 0.5rem;
	height: 1.4rem;
	border: none;
	border-radius: 0 5px 5px 0;
	font-size: 1rem;
	outline: none;
}
.inputBox:hover {
	background-color: rgb(199, 255, 255);
}

/* .inputBox:focus {
	background-color: rgb(199, 255, 255);
	border: 2px solid rgb(0, 162, 255);
} */

.inputBox_file:hover {
	cursor: pointer;
}

.create_btn {
	background-color: rgb(59, 156, 59);
	color: white;
	border: none;
	width: min-content;
	padding: 0.5rem;
	margin-top: 1rem;
	font-size: 1rem;
	border-radius: 3px;
	transition: 0.5s;
}
.create_btn:hover {
	cursor: pointer;
	background-color: rgb(65, 179, 65);
}
.create_btn:active {
	background-color: rgb(0, 207, 10);
}
.cancel_btn {
	background-color: rgb(156, 59, 59);
	color: white;
	border: none;
	width: min-content;
	padding: 0.5rem;
	margin: 1rem 0 0 0.5rem;
	font-size: 1rem;
	border-radius: 3px;
	transition: 0.5s;
}
.cancel_btn:hover {
	cursor: pointer;
	background-color: rgb(197, 64, 64);
}

/* -----------Tab */

.tab {
	overflow: hidden;
	background-color: rgb(56, 67, 78);
	width: max-content;
	border-radius: 12px;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.7rem 1rem;
	transition: 0.3s;
	font-size: 1rem;
	color: rgb(157, 163, 175);
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
	color: rgb(44, 44, 44);
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* ************* cuatom select  */

.custom_select select {
	outline: none;
	font-size: 1.1rem;
	height: 2rem;
	border-radius: 5px 0 0 5px;
	width: 100%;
	border: none;
}
