.friends_hangout {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	flex-direction: row;
	border: none;
	height: 3rem !important;
	border-bottom: 1px solid #1e1f22;
	background-color: #36393f;
}
.friends {
	display: flex;
	flex-direction: row;
	/* margin: auto 2vw; */
}

.tab {
	margin: auto 1vw;
	padding: 0.3rem 0.7rem;
	border-radius: 8px;
}
.active {
	background-color: #2c2e33;
}
a {
	text-decoration: none;
	color: white;
	height: fit-content;
}

.tab_content {
	width: calc(100vw - 17vw - 5rem);
	display: flex;
	flex-direction: row;
}
/* ********************************************************* */

.main {
	width: 72%;
	overflow-y: scroll;
	background-color: #36393f;
}

/* ********************************************************* */
.active_now {
	height: calc(100vh - 3rem);
	width: 28%;
	/* background-color: #25272c; */
	background-color: #2f3136;
}

.active_now > .title {
	margin: 2vh 0 2vw 1vw;
	font-weight: 800;
	font-size: 1.3vw;
}
.card {
	background-color: #1e1f22;
	margin: 0 0.5vw;
	padding: 0.2vh 0.5vw;
	border-radius: 8px;
}
.card > .card_title {
	font-size: 1.1vw;
	font-weight: 700;
	text-align: center;
	margin: 1vw;
}
.card > .card_content {
	margin: 1vw;
	font-size: 1vw;
	color: grey;
}
