.change_pswd {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.error_msg {
	margin-top: 0.2rem;
	font-size: 1rem;
	color: rgb(255, 59, 59);
}
.main_sec {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	height: 90%;
}
.password_fields {
	margin: auto 0;
	/* display: grid;
	place-items: center; */
}
.inputField {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
}
.inputBox {
	background-color: aliceblue;
	margin-top: 0.4rem;
	padding: 0.3rem 0.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
}
.inputBox:hover {
	background-color: rgb(199, 255, 255);
}

.inputBox:focus {
	background-color: rgb(199, 255, 255);
	border: 2px solid rgb(0, 162, 255);
}

.buttons {
	height: 10%;
	margin-top: auto;
}
.buttons button {
	cursor: pointer;
	background-color: rgb(55, 59, 63);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 0.5rem 1rem;
	margin: 0 1rem;
}
.buttons button:hover {
	background-color: rgb(24, 26, 27);
}
