:root {
	--border-color: rgba(104, 104, 104, 0.5);
	--primary-background: rgb(104, 104, 104);
	--secondary-background: rgb(58, 58, 58);
}

.Loader,
.initial {
	display: grid;
	place-items: center;
	width: 100vw;
}
.initial p {
	font-size: 1.5rem;
	color: grey;
}

.homepage {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

section {
	border-collapse: collapse;
}

/* server section */

/* .servers_section {
	width: 5%;
	padding-top: 0.5rem;
	text-align: center;
	box-shadow: 1px 0 2px black;
}
.servers_section img {
	background-color: rgb(75, 80, 85);
	height: 50px;
	width: 50px;
	margin: 0.2em;
	padding: 0.2rem;
	border-radius: 25px;
	transition: 0.3s;
}
.servers_section img:hover {
	border-radius: 14px;
} */
/* channel section */

/* .channel_section {
	width: 15%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	box-shadow: 1px 0 2px black;
}

.server {
	border: none;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 2px 2px black;
	background-color: rgb(55, 59, 63);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}

.channels {
	padding: 0.1rem 0.2rem;
}

.text_channels,
.voice_channels {
	margin: 1rem 0;
}

.profile_status {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	background-color: rgb(55, 59, 63);
	box-shadow: -1px -1px 2px black;
	border-radius: 8px 8px 0 0;
}

.user_info {
	display: flex;
	flex-direction: row;
}

.user_image {
	border-radius: 20px;
	padding: 0.2rem;
	height: 35px;
	width: 35px;
}
.user_name {
	margin: auto 10px;
}
.uname {
	font-size: 1.2rem;
	font-weight: bolder;
}
.uid {
	font-size: 0.9rem;
}

------------------------------------

span {
	cursor: pointer;
}

span::before {
	content: "▸";
	float: left;
	padding: 0 0.5rem;
}

.slide {
	clear: both;
	height: 0px;
	overflow: hidden;
	transition: height 0.4s ease;
}

.slide li {
	padding: 0.2rem 0 0.2rem 2rem;
	cursor: pointer;
}

.texttouch {
	position: absolute;
	opacity: 0;
	height: 0px;
}
.texttouch:checked + label span {
	font-weight: 900;
}

.texttouch:checked + label span::before {
	content: "▾";
}

.texttouch:checked + label + .slide {
	height: max-content;
}

.voicetouch {
	position: absolute;
	opacity: 0;
	height: 0px;
}
.voicetouch:checked + label span {
	font-weight: 900;
}

.voicetouch:checked + label span::before {
	content: "▾";
}

.voicetouch:checked + label + .slide {
	height: max-content;
}

.profile_status {
	margin-top: auto;
} */

/* ------------------------------------- */

.channel_not_selected {
	display: grid;
	place-items: center;
	width: 80%;
}
.channel_not_selected div p {
	color: grey;
}

.main_section {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.text_channel_section {
	display: flex;
	width: 100%;
	height: 6.5vh;
	/* box-shadow: 1px 0 2px black; */
	border-radius: 0 0 8px 8px;
	box-shadow: 0 1px 1px black;
}

.channel_title {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}

.msg_user_div {
	height: 93.5vh;
	display: flex;
	flex-direction: row;
}

.search {
	width: 100%;
	display: flex;
}

/* rgb(55, 59, 63) */

.searchTerm {
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(104, 104, 104, 1);
	padding: 0 0.5rem;
	/* border-radius: 5px 0 0 5px; */
	outline: none;
	color: rgb(104, 104, 104);
	background-color: rgb(55, 59, 63);
	font-size: 1rem;
}

.searchTerm:focus {
	color: rgb(140, 148, 155);
}

.searchButton {
	padding: 0 0.7rem;
	border: 1px solid rgba(104, 104, 104, 1);
	background: rgb(104, 104, 104);
	text-align: center;
	color: rgb(140, 148, 155);
	border-radius: 8px 0 8px 0;
	cursor: pointer;
	font-size: 20px;
}

.search_wrap {
	margin: auto;
	width: 30%;
}
.Loader img {
	height: 20rem;
}

/*
.settings {
	margin-left: auto;
}
.settings p {
	font-size: 1.5rem;
}
.settings p:hover {
	cursor: pointer;
}

=======text_channel_section

.text_msg {
	width: 80%;
}

.message {
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
}
.message:hover {
	background-color: rgb(63, 67, 71);
}

.msg {
	margin: auto 0.7rem;
}

.msg .username {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.2rem;
}

*********** chat form  *************

.text_msg {
	border: none;
	margin-top: auto;
}

.chat__form {
	background-color: rgb(55, 59, 63);
}
.chat__form form {
	height: 7vh;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}
.chat__form input {
	height: 40px;
	font-size: 16px;
	min-width: 90%;
	padding-left: 15px;
	background-color: rgb(197, 197, 197);
	border-radius: 15px;
	border: none;
}
.chat__form button {
	width: 10%;
	height: 100%;
	font-size: 16px;
	background-color: transparent;
	border: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.chat__form button:hover {
	font-weight: bold;
}

=========users section

.users_section {
	width: 20%;
}

.online_users .head,
.offline_users .head {
	padding-left: 1rem;
	margin: 1rem auto;
	font-size: 1.2rem;
}

.offline_user {
	opacity: 0.5;
}

.online_user img,
.offline_user img {
	height: 35px;
	width: 35px;
	margin: 0.2em;
	border-radius: 25px;
}

.online_user,
.offline_user {
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
}

.online_user:hover,
.offline_user:hover {
	background-color: rgb(75, 80, 85);
}

.online_user .username,
.offline_user .username {
	font-size: 1.2rem;
	margin: auto 1rem;
} */

.dropdown_content {
	z-index: 2;
}
