.my_friends {
	height: calc(100vh - 3rem);
	text-align: center;
}
.my_friends > input {
	background-color: rgb(39, 42, 44);
	color: white;
	width: 90%;
	height: 1.5rem;
	margin: 2vh 0.5vw;
	padding: 0.5vh 0.5vw;
	border-radius: 8px;
	font-size: 1.2vw;
}

.available_users {
	height: calc(100vh - 5rem - 4vh);
	overflow-y: scroll;
	scrollbar-width: none;
}
.available_users .user {
	display: flex;
	flex-direction: row;
}

.available_users::-webkit-scrollbar {
	display: none;
}
.user {
	margin: 1vh 1vw;
	padding: 3vh 1vw;
	border-radius: 8px;
}
.user:hover {
	background-color: rgb(48, 51, 54);
}

.user > img {
	height: 60px;
	width: 60px;
}
.user .name {
	margin: 1vh auto auto 2vw;
}

.user .request_btn {
	background-color: hsl(235, 51.4%, 52.4%);
}
.user .unfriend_request_btn {
	background-color: hsl(359, 66.7%, 54.1%);
}
.user .cancel_request_btn {
	background-color: hsl(359, 66.7%, 54.1%);
}
.user .request_btn,
.user .unfriend_request_btn,
.user .cancel_request_btn {
	display: none;
}
.user:hover .request_btn,
.user:hover .unfriend_request_btn,
.user:hover .cancel_request_btn {
	display: block;
	color: antiquewhite;
	margin: auto;
	margin-right: 1vw;
	border: none;
	border-radius: 4px;
	padding: 0.5rem;
	opacity: 0.7;
}
.user .request_btn:hover,
.user .unfriend_request_btn:hover,
.user .cancel_request_btn:hover {
	opacity: 1;
}
.user .request_btn:active,
.user .unfriend_request_btn:active,
.user .cancel_request_btn:active {
	transform: scale(1.1);
}
