@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body {
	font-family: "Noto Serif", serif;
	background-color: rgb(55, 59, 63);
	color: aliceblue;
}

*::-webkit-scrollbar {
	display: none;
}
